{% extends "base.html" %}

{% block content %}
<h2>Student Profile</h2>

<form method="post">
    <label>
        <input
            name="name"
            placeholder="Name"
            value="{{ profile.name }}"
            required
        >
    </label><br><br>

    <label>
        <input
            name="email"
            placeholder="Email"
            value="{{ profile.email }}"
            required
        >
    </label><br><br>

    <label>
        <input
            name="course"
            placeholder="Course"
            value="{{ profile.course }}"
            required
        >
    </label><br><br>

    <label>
        <input
            name="cgpa"
            placeholder="CGPA"
            value="{{ profile.cgpa }}"
            required
        >
    </label><br><br>

    <button type="submit">Update Profile</button>
</form>

{% endblock %}
